ion-title{
    margin-top: 0px;
  font-size: 20px;
  color:#ffffff;
  text-align:center;
  font-weight: 900;

}

ion-card{
    // display: flex;
    // flex-direction: column;
    width: 100%, !important;
    margin: 0, !important;
}
ion-row{
    align-items: center;
    justify-content: center;
}

ion-label{
    
    font-weight: 900px;
    
}

.profilecard{
    --ion-background-color: rgba(255, 255, 255, 0.932);
}

.profilecard2{
    --ion-background-color: #ffffff;
}