<ion-header>
  <ion-toolbar class='historypage'>
    <ion-title>COUNSELLING BOOKING HISTORY</ion-title>

    <ion-buttons slot='start' (click)='GotoHome()'>
      <ion-button style=color:rgb(20,19,19)>
        HOME
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<h2 style="margin-left: 30px;text-align: center;">You can view all the counselling booking history in the list below: </h2>

<ion-content class=ion-padding id=displayH>
  
 
  <!-- <ion-searchbar placeholder=counsellorname  animated (search)=search()></ion-searchbar>

  <ion-button type="submit" expand='block' style='color:primary' > View all</ion-button>


  <ul>


  </ul> -->
  
</ion-content>
