<ion-header>
  <ion-toolbar class='historypage'>
    <ion-title>APPOINTMENT</ion-title>

    <ion-buttons slot='start' (click)='GotoHome()'>
      <ion-button style=color:rgb(20,19,19)>
        HOME
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<h2 style="margin-left: 30px;text-align: center;">You can view all appointment history in the list below: </h2>

<ion-content [fullscreen]=true class=ion-padding id=displaybookedstud>
  
  
 
   <!-- <ion-searchbar [formControl]='searchfield' placeholder='Search by counsellorname' [(ngModel)]='searchTerm' showCancelButton='focus' animated ></ion-searchbar>  -->

  
  
</ion-content>
