<ion-header>
  <ion-toolbar class='profilepage'>
    <ion-title>EDIT PROFILE</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
 
  <form [formGroup]=newphoneForm>
   
    <ion-card>
      <ion-item><ion-item disabled>
        Please entered the new phone:
      </ion-item>
      <input type=text id=rephone formControlName=newPhone>
      </ion-item>
      
    </ion-card>
  </form>

    <ion-button type="submit" expand='block' color=tertiary size='medium' (click)='updatephone()'>Update</ion-button>
</ion-content>
