<ion-header>
  <ion-toolbar class='profilepage'>
    <ion-title>EDIT PROFILE</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="coun-profile"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class=ion-padding >
 
  <form [formGroup]=newCNnameForm>
   
    <ion-card>
      <ion-item>
      <ion-item disabled>
        Please entered the new name:
      </ion-item>
      <input  type=text id=rename formControlName=newCNName>
  
      </ion-item>
      
    </ion-card>
  </form>

    <ion-button type="submit" expand='block' color=tertiary size='medium' (click)='updateCNname()'>Update</ion-button>
</ion-content>
